body {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}
#note-menu {
  width: 20%;
  height: 100%;
  background-color: #2f2f2f;
  padding: 0;
  margin: 0;
}
#note-menu-button {
  display: none;
  width: 30px;
  margin-top: 10px;
}

#note-menu-header {
  width: 90%;
  background-color: aqua;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 5%;
  padding-left: 5%;
  color: white;
  font-size: 1.3rem;
  font-family: sans-serif;
}

#note-menu-chapters {
  color: white;
  width: 95%;
  padding: 0 2.5%;
}
.note-menu-chapter {
  padding: 5px;
  margin: 10px auto;
  font-family: sans-serif;
  font-weight: 100;
  list-style: none;
}
.note-menu-chapter:hover {
  color: rgb(26, 255, 0);
}

#note-content {
  width: 80%;
  height: 100%;
  background-color: #f4f4f4;
  overflow-y: scroll;
}

#note-content-container {
  width: 90%;
  height: (100% - 20px);
  margin: 10px auto;
}

@media screen and (max-width: 800px) {
  #note-menu-button {
    display: flex;
  }
  #note-menu {
    width: 0;
    background-color: black;
  }
  #note-content {
    width: 100%;
  }
}
